@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Forum regular";
  src: url(/fonts/Forum_font/Forum-Regular.ttf);
}
@font-face {
  font-family: "lato light";
  src: url(/fonts/Lato_font/Lato-Light.ttf);
}
@font-face {
  font-family: "lato regular";
  src: url(/fonts/Lato_font/Lato-Regular.ttf);
}
@font-face {
  font-family: "lato bold";
  src: url(/fonts/Lato_font/Lato-Bold.ttf);
}
.fonts_h1, * h1 {
  font-family: "Forum regular", sans-serif;
  font-weight: 400;
  font-size: 84px;
  line-height: 92.74px;
  color: #FFEDCC;
}

.fonts_h2, * h2 {
  font-family: "lato light", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26.4px;
  color: #FFEDCC;
}

.fonts_buttons_lato_14, .component16 {
  font-family: "lato regular", sans-serif;
  font-weight: 400;
  line-height: 16.8px;
  font-size: 14px;
}

.fonts_buttons_header_12 {
  font-family: "lato regular", sans-serif;
  font-weight: 400;
  line-height: 14.4px;
  font-size: 12px;
}

.fonts_header_lato {
  font-family: "lato light", sans-serif;
  font-weight: 300;
  line-height: 14.4px;
  font-size: 12px;
}

.fonts_subheader, .subhead, * h4 {
  font-family: "Forum regular", sans-serif;
  font-weight: 400;
  line-height: 46.37px;
  font-size: 42px;
  color: #FFF;
}

.fonts_main_text_19, .lato_light_18 {
  font-family: "lato light", sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-size: 19px;
}

.fonts_text2Lato_22, main .recall .photo_people_recall .slider_recall div h4 {
  font-family: "lato bold", sans-serif;
  font-weight: 700;
  line-height: 30px;
  font-size: 22px;
}

.fonts_text2Lato_12, main .recall * p {
  font-family: "lato light", sans-serif;
  font-weight: 300;
  line-height: 20px;
  font-size: 12px;
}

.fonts_text1Lato_16, .component19, .component18, .component17, .component14, .contact_block button, * a {
  font-family: "lato light", sans-serif;
  font-weight: 300;
  line-height: 25px;
  font-size: 16px;
}

.fixed_icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
}
.fixed_icons img {
  width: 53px;
  height: 53px;
}
.fixed_icons img:nth-child(2) {
  margin-top: 10px;
}
.fixed_icons img:hover {
  cursor: pointer;
}

* h2 {
  text-align: center;
}

.component16 {
  width: 390px;
  padding: 22px 76px;
  color: black;
  opacity: 0.9;
  background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
}
.component16:hover {
  background: linear-gradient(89.24deg, #CBA177 0%, #EFCDAC 100%);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6980392157);
  transition: 0.2s;
}

.component14 {
  width: 390px;
  padding: 16px 76px;
  color: black;
  background: linear-gradient(89.34deg, #E0B88F -2.95%, #FFF3E7 107.46%);
}
.component14:hover {
  background: linear-gradient(89.24deg, #CA9F75 0%, #F1D1B0 100%);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6980392157);
  transition: 0.2s;
}

.component17 {
  width: 390px;
  padding: 16px 76px;
  color: black;
  background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
}
.component17:hover {
  background: linear-gradient(89.24deg, #CA9F75 0%, #F1D1B0 100%);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6980392157);
  transition: 0.2s;
}

.component18 {
  width: 390px;
  padding: 16px 76px;
  color: black;
  background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
}
.component18:hover {
  background: linear-gradient(89.24deg, #CBA177 0%, #EFCDAC 100%);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6980392157);
  transition: 0.2s;
}

.component19 {
  width: 390px;
  padding: 16px 76px;
  color: black;
  background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
}
.component19:hover {
  background: linear-gradient(89.24deg, #CA9F75 0%, #F1D1B0 100%);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6980392157);
  transition: 0.2s;
}

.subhead {
  color: #DAC891;
}

.lato_light_18 {
  color: #FFFFFF;
}

header {
  width: 100%;
}
header nav {
  width: 100%;
  padding: 20px 38px;
  padding-top: 22px;
  display: flex;
  justify-content: flex-end;
  background-color: #FFFFFF;
}
header nav .navigation {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navigation a {
  text-decoration: none;
  color: #000000;
}
header .main_header {
  width: 100%;
  height: 100%;
  background-image: url("../images/background/back_logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
header .main_header .main_header_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .main_header .main_header_block img {
  padding-bottom: 50px;
  padding-top: 370px;
}
header .main_header .main_header_block h1 {
  padding-bottom: 18px;
  opacity: 0.9;
}
header .main_header .main_header_block h2 {
  padding-bottom: 46px;
  opacity: 0.9;
}
header .main_header .main_header_block div {
  padding-bottom: 103px;
}

main .portfolio {
  position: relative;
  background: linear-gradient(166.74deg, #010805 0%, #102F24 45.8%, #010805 73.35%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .portfolio .backImg {
  position: absolute;
  z-index: 10;
  width: 100%;
}
main .portfolio .portfolio_img {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .portfolio .portfolio_img .portfolio_img_flex {
  display: flex;
  justify-content: space-between;
}
main .portfolio .portfolio_img .portfolio_img_flex .portfolio_img_flex2 {
  height: 80%;
}
main .portfolio .portfolio_img .portfolio_img_flex:nth-child(2) {
  margin-top: 39px;
}
main .portfolio .head_portfolio {
  width: 70%;
  text-align: center;
}
main .portfolio .head_portfolio h4 {
  padding-bottom: 30px;
  padding-top: 60px;
}
main .portfolio .head_portfolio p {
  padding-bottom: 45px;
  opacity: 0.8;
}
main .portfolio .portfolio_img {
  z-index: 998;
  padding-bottom: 45px;
}
main .portfolio .portfolio_button button:nth-child(2) {
  margin-left: 20px;
}
main .slide_o_nas {
  width: 100%;
}
main .slide_o_nas .slide_o_nas_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 998;
}
main .slide_o_nas .slide_o_nas_block .back_slide_o_nas {
  position: absolute;
  height: 55%;
  width: 100%;
  top: 45%;
  background-image: url("../images/background/back_calc.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
main .slide_o_nas .slide_o_nas_block .head_o_nas {
  width: 70%;
  text-align: center;
}
main .slide_o_nas .slide_o_nas_block .head_o_nas h4 {
  padding-bottom: 30px;
  padding-top: 60px;
}
main .slide_o_nas .slide_o_nas_block .head_o_nas p {
  padding-bottom: 45px;
  opacity: 0.8;
}
main .slide_o_nas .slide_o_nas_block .slider_block {
  z-index: 998;
}
main .slide_o_nas .slide_o_nas_block .slider_block .slider {
  display: flex;
  align-items: center;
}
main .slide_o_nas .slide_o_nas_block .slider_block .slider .arrow_left {
  width: 62px;
  height: 62px;
  padding: 13px;
  left: 25%;
  z-index: 998;
  background: white;
  border-radius: 50%;
  padding-right: 17px;
  margin-right: 25px;
}
main .slide_o_nas .slide_o_nas_block .slider_block .slider .arrow_left:hover {
  background: #CCA278;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6);
  transition: 0.2s;
}
main .slide_o_nas .slide_o_nas_block .slider_block .slider .arrow_right {
  transform: rotate(180deg);
  width: 62px;
  height: 62px;
  padding: 13px;
  right: 25%;
  z-index: 998;
  background: white;
  border-radius: 50%;
  padding-right: 17px;
  margin-left: 25px;
}
main .slide_o_nas .slide_o_nas_block .slider_block .slider .arrow_right:hover {
  background: #CCA278;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6);
  transition: 0.2s;
}
main .slide_o_nas .slide_o_nas_block .calc_block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 77px;
  z-index: 998;
}
main .slide_o_nas .slide_o_nas_block .calc_block .head_calc_block {
  width: 70%;
  text-align: center;
}
main .slide_o_nas .slide_o_nas_block .calc_block .head_calc_block h4 {
  padding-bottom: 30px;
  padding-top: 60px;
}
main .slide_o_nas .slide_o_nas_block .calc_block .head_calc_block p {
  padding-bottom: 45px;
  opacity: 0.8;
}
main .recall {
  background-image: url("../images/background/back_recall.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .recall .head_recall {
  width: 70%;
  text-align: center;
  padding-bottom: 30px;
}
main .recall .head_recall h4 {
  padding-bottom: 30px;
  padding-top: 60px;
}
main .recall .head_recall p {
  padding-bottom: 45px;
  opacity: 0.8;
  color: black;
}
main .recall .photo_people_recall {
  display: flex;
  justify-content: space-between;
  gap: 46px;
}
main .recall .photo_people_recall .slider_recall:nth-child(2) {
  margin-top: -70px;
  padding-bottom: 0;
  text-align: center;
}
main .recall .photo_people_recall .slider_recall:nth-child(2) p {
  color: #000000;
  padding: 30px;
  padding-bottom: 5px;
}
main .recall .photo_people_recall .slider_recall:nth-child(2) div {
  margin-top: 20px;
}
main .recall .photo_people_recall .slider_recall div {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  margin-top: 150px;
  padding: 20px;
  text-align: center;
  gap: 30px;
}
main .recall .photo_people_recall .slider_recall div h4 {
  color: #000000;
}
main .recall .arrow_slider_recall {
  display: flex;
  padding: 30px;
  padding-bottom: 0;
}
main .recall .arrow_slider_recall .dot {
  padding: 10px;
}
main .recall .arrow_slider_recall .dot:hover {
  background: rgba(237, 227, 200, 0.8);
  border-radius: 50%;
  opacity: 0.6;
}
main .recall .arrow_slider_recall .arrow_right {
  transform: rotate(180deg);
  padding-right: 15px;
}
main .recall .arrow_slider_recall .arrow_right:hover {
  cursor: pointer;
}
main .recall .arrow_slider_recall .arrow_left {
  padding-right: 15px;
}
main .recall .arrow_slider_recall .arrow_left:hover {
  cursor: pointer;
}
main .eskiz3D {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .eskiz3D .head_eskiz3D {
  width: 70%;
  text-align: center;
  padding-bottom: 30px;
}
main .eskiz3D .head_eskiz3D h4 {
  padding-bottom: 30px;
  padding-top: 60px;
}
main .eskiz3D .head_eskiz3D p {
  padding-bottom: 45px;
  opacity: 0.8;
  color: black;
}
main .eskiz3D .img_slider {
  display: flex;
  gap: 20px;
}
main .eskiz3D .eskiz3D_arrow {
  display: flex;
  justify-content: center;
  padding: 30px;
  padding-bottom: 0;
}
main .eskiz3D .eskiz3D_arrow .dot {
  padding: 10px;
}
main .eskiz3D .eskiz3D_arrow .dot:hover {
  background: rgba(237, 227, 200, 0.8);
  border-radius: 50%;
  opacity: 0.6;
}
main .eskiz3D .eskiz3D_arrow .arrow_right {
  transform: rotate(180deg);
  padding-right: 15px;
}
main .eskiz3D .eskiz3D_arrow .arrow_right:hover {
  cursor: pointer;
}
main .eskiz3D .eskiz3D_arrow .arrow_left {
  padding-right: 15px;
}
main .eskiz3D .eskiz3D_arrow .arrow_left:hover {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
