@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Forum regular";
  src: url(/fonts/Forum_font/Forum-Regular.ttf);
}
@font-face {
  font-family: "lato light";
  src: url(/fonts/Lato_font/Lato-Light.ttf);
}
@font-face {
  font-family: "lato regular";
  src: url(/fonts/Lato_font/Lato-Regular.ttf);
}
@font-face {
  font-family: "lato bold";
  src: url(/fonts/Lato_font/Lato-Bold.ttf);
}
.fonts_h1, * h1 {
  font-family: "Forum regular", sans-serif;
  font-weight: 400;
  font-size: 84px;
  line-height: 92.74px;
  color: #FFEDCC;
}

.fonts_h2, * h2 {
  font-family: "lato light", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26.4px;
  color: #FFEDCC;
}

.fonts_buttons_lato_14, .component16 {
  font-family: "lato regular", sans-serif;
  font-weight: 400;
  line-height: 16.8px;
  font-size: 14px;
}

.fonts_buttons_header_12 {
  font-family: "lato regular", sans-serif;
  font-weight: 400;
  line-height: 14.4px;
  font-size: 12px;
}

.fonts_header_lato {
  font-family: "lato light", sans-serif;
  font-weight: 300;
  line-height: 14.4px;
  font-size: 12px;
}

.fonts_subheader, .subhead, * h4 {
  font-family: "Forum regular", sans-serif;
  font-weight: 400;
  line-height: 46.37px;
  font-size: 42px;
  color: #FFF;
}

.fonts_interier, main .interier .stages_work h2 {
  font-family: "Forum regular", sans-serif;
  font-weight: 400;
  line-height: 40px;
  font-size: 28px;
  color: #FFF;
}

.fonts_main_text_19, footer .footer_wrapper .footer_menu .footer_menu_leftBlock span, footer .footer_wrapper .footer_menu .footer_menu_rightBlock span, main .project_season .form .form_block form div input::placeholder, main .project_season .form .form_block form div span, main .calculate_cost_window .calculate_cost_window_shadow .length_window .znchenie, main .calculate_cost_window .calculate_cost_window_shadow .class_tkan span, main .calculate_cost_window .calculate_cost_window_shadow .type_curtain span, main .calculate_cost_window .calculate_cost_window_shadow .length_karniz span, main .calculate_cost_window .calculate_cost_window_shadow .length_window span, main .calculate_cost_window .calculate_cost_window_shadow .class_tkan .ul, main .calculate_cost_window .calculate_cost_window_shadow .type_curtain .ul, main .calculate_cost_window .calculate_cost_window_shadow .length_karniz .ul, main .calculate_cost_window .calculate_cost_window_shadow .length_window .ul, main .calculate_cost_window .calculate_cost_window_shadow .class_tkan .class_tkan_block button, main .calculate_cost_window .calculate_cost_window_shadow .type_curtain .class_tkan_block button, main .calculate_cost_window .calculate_cost_window_shadow .length_karniz .class_tkan_block button, main .calculate_cost_window .calculate_cost_window_shadow .length_window .class_tkan_block button, .lato_light_18 {
  font-family: "lato light", sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-size: 19px;
}

.fonts_text2Lato_22, main .recall .photo_people_recall .slider_recall div h4 {
  font-family: "lato bold", sans-serif;
  font-weight: 700;
  line-height: 30px;
  font-size: 22px;
}

.fonts_text2Lato_12, main .recall * p {
  font-family: "lato light", sans-serif;
  font-weight: 300;
  line-height: 20px;
  font-size: 12px;
}

.fonts_text1Lato_16, .component22, .component21, .component20, .component19, .component18, .component17, .component14, .contact_block button, * a {
  font-family: "lato light", sans-serif;
  font-weight: 300;
  line-height: 25px;
  font-size: 16px;
}

.fixed_icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
}
.fixed_icons img {
  width: 53px;
  height: 53px;
}
.fixed_icons img:nth-child(2) {
  margin-top: 10px;
}
.fixed_icons img:hover {
  cursor: pointer;
}

* h2 {
  text-align: center;
}

.component16 {
  width: 390px;
  padding: 22px 76px;
  color: black;
  opacity: 0.9;
  background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
}
.component16:hover {
  background: linear-gradient(89.24deg, #CBA177 0%, #EFCDAC 100%);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6980392157);
  transition: 0.2s;
}

.component14 {
  width: 390px;
  padding: 16px 76px;
  color: black;
  background: linear-gradient(89.34deg, #E0B88F -2.95%, #FFF3E7 107.46%);
}
.component14:hover {
  background: linear-gradient(89.24deg, #CA9F75 0%, #F1D1B0 100%);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6980392157);
  transition: 0.2s;
}

.component17 {
  width: 390px;
  padding: 16px 76px;
  color: black;
  background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
}
.component17:hover {
  background: linear-gradient(89.24deg, #CA9F75 0%, #F1D1B0 100%);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6980392157);
  transition: 0.2s;
}

.component18 {
  width: 390px;
  padding: 16px 76px;
  color: black;
  background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
}
.component18:hover {
  background: linear-gradient(89.24deg, #CBA177 0%, #EFCDAC 100%);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6980392157);
  transition: 0.2s;
}

.component19 {
  width: 390px;
  padding: 16px 76px;
  color: black;
  background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
}
.component19:hover {
  background: linear-gradient(89.24deg, #CA9F75 0%, #F1D1B0 100%);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6980392157);
  transition: 0.2s;
}

.component20 {
  width: 390px;
  padding: 16px 76px;
  color: black;
  background: linear-gradient(88.84deg, #E1BC94 0%, #FEEFE0 100%);
}
.component20:hover {
  background: linear-gradient(88.84deg, #CBA177 0%, #F2D1B0 100%);
  box-shadow: 0px 0px 10px 0px rgba(234, 213, 193, 0.2509803922);
  transition: 0.2s;
}
.component20 a {
  color: #000000;
}

.component21 {
  width: 390px;
  padding: 16px 76px;
  color: black;
  background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
}
.component21:hover {
  background: linear-gradient(89.24deg, #CBA177 0%, #EFCDAC 100%);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6980392157);
  transition: 0.2s;
}

.component22 {
  width: 390px;
  padding: 16px 76px;
  color: black;
  background: linear-gradient(89.34deg, #E0B88F -2.95%, #FFF3E7 107.46%);
}
.component22:hover {
  background: linear-gradient(89.24deg, #CA9F75 0%, #F1D1B0 100%);
  box-shadow: 0px 0px 10px 0px #EAD5C1;
  transition: 0.2s;
}

.subhead {
  color: #DAC891;
}

.lato_light_18 {
  color: #FFFFFF;
}

header {
  width: 100%;
}
header nav {
  width: 100%;
  padding: 20px 38px;
  padding-top: 22px;
  display: flex;
  justify-content: flex-end;
  background-color: #FFFFFF;
}
header nav .navigation {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navigation a {
  text-decoration: none;
  color: #000000;
}
header .main_header {
  width: 100%;
  height: 100%;
  background-image: url("../images/background/back_logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
header .main_header .main_header_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .main_header .main_header_block img {
  padding-bottom: 50px;
  padding-top: 370px;
}
header .main_header .main_header_block h1 {
  padding-bottom: 18px;
  opacity: 0.9;
}
header .main_header .main_header_block h2 {
  padding-bottom: 46px;
  opacity: 0.9;
}
header .main_header .main_header_block div {
  padding-bottom: 103px;
}

main .portfolio {
  position: relative;
  background: linear-gradient(166.74deg, #010805 0%, #102F24 45.8%, #010805 73.35%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .portfolio .backImg {
  position: absolute;
  z-index: 10;
  width: 100%;
}
main .portfolio .portfolio_img {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .portfolio .portfolio_img .portfolio_img_flex {
  display: flex;
  justify-content: space-between;
}
main .portfolio .portfolio_img .portfolio_img_flex .portfolio_img_flex2 {
  height: 80%;
}
main .portfolio .portfolio_img .portfolio_img_flex:nth-child(2) {
  margin-top: 39px;
}
main .portfolio .head_portfolio {
  width: 70%;
  text-align: center;
}
main .portfolio .head_portfolio h4 {
  padding-bottom: 30px;
  padding-top: 60px;
}
main .portfolio .head_portfolio p {
  padding-bottom: 45px;
  opacity: 0.8;
}
main .portfolio .portfolio_img {
  z-index: 998;
  padding-bottom: 45px;
}
main .portfolio .portfolio_button {
  z-index: 999;
}
main .portfolio .portfolio_button button:nth-child(2) {
  margin-left: 20px;
}
main .slide_o_nas {
  width: 100%;
}
main .slide_o_nas .slide_o_nas_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 998;
}
main .slide_o_nas .slide_o_nas_block .back_slide_o_nas {
  position: absolute;
  height: 55%;
  width: 100%;
  top: 45%;
  background-image: url("../images/background/back_calc.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
main .slide_o_nas .slide_o_nas_block .head_o_nas {
  width: 70%;
  text-align: center;
}
main .slide_o_nas .slide_o_nas_block .head_o_nas h4 {
  padding-bottom: 30px;
  padding-top: 60px;
}
main .slide_o_nas .slide_o_nas_block .head_o_nas p {
  padding-bottom: 45px;
  opacity: 0.8;
}
main .slide_o_nas .slide_o_nas_block .slider_block {
  z-index: 998;
}
main .slide_o_nas .slide_o_nas_block .slider_block .slider {
  display: flex;
  align-items: center;
}
main .slide_o_nas .slide_o_nas_block .slider_block .slider .arrow_left {
  width: 62px;
  height: 62px;
  padding: 13px;
  left: 25%;
  z-index: 998;
  background: white;
  border-radius: 50%;
  padding-right: 17px;
  margin-right: 25px;
}
main .slide_o_nas .slide_o_nas_block .slider_block .slider .arrow_left:hover {
  background: #CCA278;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6);
  transition: 0.2s;
}
main .slide_o_nas .slide_o_nas_block .slider_block .slider .arrow_right {
  transform: rotate(180deg);
  width: 62px;
  height: 62px;
  padding: 13px;
  right: 25%;
  z-index: 998;
  background: white;
  border-radius: 50%;
  padding-right: 17px;
  margin-left: 25px;
}
main .slide_o_nas .slide_o_nas_block .slider_block .slider .arrow_right:hover {
  background: #CCA278;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6);
  transition: 0.2s;
}
main .slide_o_nas .slide_o_nas_block .calc_block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 77px;
  z-index: 998;
}
main .slide_o_nas .slide_o_nas_block .calc_block .head_calc_block {
  width: 70%;
  text-align: center;
}
main .slide_o_nas .slide_o_nas_block .calc_block .head_calc_block h4 {
  padding-bottom: 30px;
  padding-top: 60px;
}
main .slide_o_nas .slide_o_nas_block .calc_block .head_calc_block p {
  padding-bottom: 45px;
  opacity: 0.8;
}
main .recall {
  background-image: url("../images/background/back_recall.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .recall .head_recall {
  width: 70%;
  text-align: center;
  padding-bottom: 30px;
}
main .recall .head_recall h4 {
  padding-bottom: 30px;
  padding-top: 60px;
}
main .recall .head_recall p {
  padding-bottom: 45px;
  opacity: 0.8;
  color: black;
}
main .recall .photo_people_recall {
  display: flex;
  justify-content: space-between;
  gap: 46px;
}
main .recall .photo_people_recall .slider_recall:nth-child(2) {
  margin-top: -70px;
  padding-bottom: 0;
  text-align: center;
}
main .recall .photo_people_recall .slider_recall:nth-child(2) p {
  color: #000000;
  padding: 30px;
  padding-bottom: 5px;
}
main .recall .photo_people_recall .slider_recall:nth-child(2) div {
  margin-top: 20px;
}
main .recall .photo_people_recall .slider_recall div {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  margin-top: 150px;
  padding: 20px;
  text-align: center;
  gap: 30px;
}
main .recall .photo_people_recall .slider_recall div h4 {
  color: #000000;
}
main .recall .arrow_slider_recall {
  display: flex;
  padding: 30px;
  padding-bottom: 0;
}
main .recall .arrow_slider_recall .dot {
  padding: 10px;
}
main .recall .arrow_slider_recall .dot:hover {
  background: rgba(237, 227, 200, 0.8);
  border-radius: 50%;
  opacity: 0.6;
}
main .recall .arrow_slider_recall .arrow_right {
  transform: rotate(180deg);
  padding-right: 15px;
}
main .recall .arrow_slider_recall .arrow_right:hover {
  cursor: pointer;
}
main .recall .arrow_slider_recall .arrow_left {
  padding-right: 15px;
}
main .recall .arrow_slider_recall .arrow_left:hover {
  cursor: pointer;
}
main .eskiz3D {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .eskiz3D .head_eskiz3D {
  width: 70%;
  text-align: center;
  padding-bottom: 30px;
}
main .eskiz3D .head_eskiz3D h4 {
  padding-bottom: 30px;
  padding-top: 60px;
}
main .eskiz3D .head_eskiz3D p {
  padding-bottom: 45px;
  opacity: 0.8;
  color: black;
}
main .eskiz3D .img_slider {
  display: flex;
  gap: 20px;
}
main .eskiz3D .eskiz3D_arrow {
  display: flex;
  justify-content: center;
  padding: 30px;
  padding-bottom: 0;
}
main .eskiz3D .eskiz3D_arrow .dot {
  padding: 10px;
}
main .eskiz3D .eskiz3D_arrow .dot:hover {
  background: rgba(237, 227, 200, 0.8);
  border-radius: 50%;
  opacity: 0.6;
}
main .eskiz3D .eskiz3D_arrow .arrow_right {
  transform: rotate(180deg);
  padding-right: 15px;
}
main .eskiz3D .eskiz3D_arrow .arrow_right:hover {
  cursor: pointer;
}
main .eskiz3D .eskiz3D_arrow .arrow_left {
  padding-right: 15px;
}
main .eskiz3D .eskiz3D_arrow .arrow_left:hover {
  cursor: pointer;
}
main .calculate_cost_window {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .calculate_cost_window .calculate_cost_window_shadow {
  width: 100%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  background-image: url("../images/background/back_calc22.svg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
}
main .calculate_cost_window .calculate_cost_window_shadow .class_tkan, main .calculate_cost_window .calculate_cost_window_shadow .type_curtain, main .calculate_cost_window .calculate_cost_window_shadow .length_karniz, main .calculate_cost_window .calculate_cost_window_shadow .length_window {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
main .calculate_cost_window .calculate_cost_window_shadow .class_tkan .class_tkan_block, main .calculate_cost_window .calculate_cost_window_shadow .type_curtain .class_tkan_block, main .calculate_cost_window .calculate_cost_window_shadow .length_karniz .class_tkan_block, main .calculate_cost_window .calculate_cost_window_shadow .length_window .class_tkan_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .calculate_cost_window .calculate_cost_window_shadow .class_tkan .class_tkan_block button, main .calculate_cost_window .calculate_cost_window_shadow .type_curtain .class_tkan_block button, main .calculate_cost_window .calculate_cost_window_shadow .length_karniz .class_tkan_block button, main .calculate_cost_window .calculate_cost_window_shadow .length_window .class_tkan_block button {
  background: none;
}
main .calculate_cost_window .calculate_cost_window_shadow .class_tkan .class_tkan_block button:hover, main .calculate_cost_window .calculate_cost_window_shadow .type_curtain .class_tkan_block button:hover, main .calculate_cost_window .calculate_cost_window_shadow .length_karniz .class_tkan_block button:hover, main .calculate_cost_window .calculate_cost_window_shadow .length_window .class_tkan_block button:hover {
  color: #BBA76A;
}
main .calculate_cost_window .calculate_cost_window_shadow .class_tkan .ul, main .calculate_cost_window .calculate_cost_window_shadow .type_curtain .ul, main .calculate_cost_window .calculate_cost_window_shadow .length_karniz .ul, main .calculate_cost_window .calculate_cost_window_shadow .length_window .ul {
  display: inline-block;
  color: #979797;
}
main .calculate_cost_window .calculate_cost_window_shadow .class_tkan .ul li, main .calculate_cost_window .calculate_cost_window_shadow .type_curtain .ul li, main .calculate_cost_window .calculate_cost_window_shadow .length_karniz .ul li, main .calculate_cost_window .calculate_cost_window_shadow .length_window .ul li {
  list-style: inside;
}
main .calculate_cost_window .calculate_cost_window_shadow .class_tkan div, main .calculate_cost_window .calculate_cost_window_shadow .type_curtain div, main .calculate_cost_window .calculate_cost_window_shadow .length_karniz div, main .calculate_cost_window .calculate_cost_window_shadow .length_window div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .calculate_cost_window .calculate_cost_window_shadow .class_tkan h4, main .calculate_cost_window .calculate_cost_window_shadow .type_curtain h4, main .calculate_cost_window .calculate_cost_window_shadow .length_karniz h4, main .calculate_cost_window .calculate_cost_window_shadow .length_window h4 {
  color: #000000;
  border: 1px solid #DAC891;
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 12px 25px;
}
main .calculate_cost_window .calculate_cost_window_shadow .class_tkan span, main .calculate_cost_window .calculate_cost_window_shadow .type_curtain span, main .calculate_cost_window .calculate_cost_window_shadow .length_karniz span, main .calculate_cost_window .calculate_cost_window_shadow .length_window span {
  font-weight: 400;
}
main .calculate_cost_window .calculate_cost_window_shadow .length_window .znchenie {
  color: #979797;
  border-bottom: 1px solid #979797;
  padding-bottom: 2px;
}
main .calculate_cost_window .calculate_cost_window_shadow .length_karniz .ruler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #BBA76A;
}
main .calculate_cost_window .calculate_cost_window_shadow .length_karniz .ruler span {
  color: #979797;
}
main .calculate_cost_window .calculate_cost_window_shadow .length_karniz .ruler span:hover {
  cursor: pointer;
  color: #000000;
}
main .calculate_cost_window .calculate_cost_window_shadow .calculate_button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
main .interier {
  width: 100%;
  background: linear-gradient(167.26deg, #050B0B 0%, #0F2D23 50.26%, #050B0B 100%);
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .interier .interier_block {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
main .interier .interier_block h4 {
  padding: 64px;
  padding-bottom: 0;
}
main .interier .interier_block p {
  opacity: 0.8;
}
main .interier .stages_work {
  width: 100%;
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .interier .stages_work h2 {
  opacity: 0.8;
}
main .interier .stages_work p {
  opacity: 0.6;
}
main .interier .stages_work .stages_work_img_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
main .interier .stages_work .stages_work_img_flex .img {
  display: flex;
  justify-content: flex-start;
}
main .interier .stages_work .stages_work_img_flex img {
  border-bottom: 1px solid #FFE4B5;
}
main .interier .stages_work .stages_work_img_flex .stages_work_img_left, main .interier .stages_work .stages_work_img_flex .stages_work_img_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  gap: 30px;
}
main .interier .stages_work .stages_work_img_flex .stages_work_img_block_text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 30px;
}
main .interier .stages_work .stages_work_img_flex .stages_work_img_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
main .interier .stages_work .stages_work_img_flex .stages_work_img_right_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .interier .stages_work .stock {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 90px;
}
main .interier .stages_work .stock h4 {
  padding-top: 60px;
  padding-bottom: 30px;
}
main .project_season {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 53px;
  gap: 45px;
  background-image: url("../images/background/back_project_season.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
main .project_season p {
  color: #000000;
  opacity: 0.8;
}
main .project_season .project_season_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
}
main .project_season .project_season_block h4 {
  padding-bottom: 30px;
}
main .project_season .project_season_img {
  display: flex;
  flex-direction: row;
  gap: 36px;
}
main .project_season .form {
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .project_season .form .form_block {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
main .project_season .form .form_block .form_block_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
main .project_season .form .form_block .form_block_head p {
  color: #000000;
  opacity: 0.8;
}
main .project_season .form .form_block form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .project_season .form .form_block form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .project_season .form .form_block form div span {
  padding-top: 30px;
  font-weight: 400;
}
main .project_season .form .form_block form div #firstElem {
  padding-top: 0;
}
main .project_season .form .form_block form div input {
  width: 390px;
  height: 63px;
  background: #FFFFFF;
  border: 1px solid #000000;
  margin-top: 15px;
}
main .project_season .form .form_block form div input::placeholder {
  font-weight: 400;
  opacity: 0.8;
  padding-left: 16px;
}
main .project_season .form .form_block form button {
  margin-top: 45px;
}
main .project_season .partners {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .project_season .partners h4 {
  padding-bottom: 27px;
}
main .project_season .partners .partners_img_blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .project_season .partners .partners_img_blocks div {
  display: flex;
  gap: 30px;
  padding-bottom: 52px;
}
main .project_season .partners .partners_img_blocks .partners_img_blocks_partnersImg {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .project_season .partners .partners_img_blocks .partners_img_blocks_partnersImg .partners_img_blocks_partnersImg_flex {
  width: 200px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(167.26deg, #050B0B 0%, #0F2D23 50.26%, #050B0B 100%);
  z-index: 997;
}
footer .backFoot {
  position: absolute;
  background-image: url("../images/background/back_footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 998;
  bottom: 0;
  width: 100%;
  height: 100%;
}
footer .footer_wrapper {
  width: 70%;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}
footer .footer_wrapper .subhead {
  padding-bottom: 45px;
}
footer .footer_wrapper .footer_map {
  padding-bottom: 20px;
}
footer .footer_wrapper .footer_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .footer_wrapper .footer_contact .footer_contact_text p {
  opacity: 1;
}
footer .footer_wrapper .footer_contact .footer_contact_text p span {
  opacity: 0.8;
}
footer .footer_wrapper .footer_contact .footer_contact_text p span a {
  text-decoration: none;
  color: #FFFFFF;
}
footer .footer_wrapper .footer_icons {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
}
footer .footer_wrapper .footer_icons:hover {
  cursor: pointer;
}
footer .footer_wrapper .footer_menu {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 60px;
}
footer .footer_wrapper .footer_menu .footer_menu_leftBlock, footer .footer_wrapper .footer_menu .footer_menu_rightBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
footer .footer_wrapper .footer_menu .footer_menu_leftBlock span, footer .footer_wrapper .footer_menu .footer_menu_rightBlock span {
  opacity: 0.8;
}
footer .footer_wrapper .footer_menu .footer_menu_leftBlock span:hover, footer .footer_wrapper .footer_menu .footer_menu_rightBlock span:hover {
  opacity: 1;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
