// Файл обнуляющих стилей
@import "nullstyle.scss"; 

// ИМПОРТ ШРИФТОВ

@font-face {
	font-family: 'Forum regular'; 
	src: url(/fonts/Forum_font/Forum-Regular.ttf); 
}

@font-face {
	font-family: 'lato light'; 
	src: url(/fonts/Lato_font/Lato-Light.ttf); 
}

@font-face {
	font-family: 'lato regular'; 
	src: url(/fonts/Lato_font/Lato-Regular.ttf); 
}

@font-face {
	font-family: 'lato bold'; 
	src: url(/fonts/Lato_font/Lato-Bold.ttf); 
}

// ПЕРЕМЕННЫЕ ДЛЯ БЛОКА

// Цвета
$color_brown:#BF9337;
$color_black:#000000;
$color_white:#FFFFFF;

// Шаблоны 
.fonts_h1 {
    font-family: 'Forum regular', sans-serif;
    font-weight: 400;
    font-size: 84px;
    line-height: 92.74px;
    color: #FFEDCC;
}
.fonts_h2 {
    font-family: 'lato light', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 26.4px;
    color:#FFEDCC;
}
.fonts_buttons_lato_14 {
    font-family: 'lato regular', sans-serif;
    font-weight: 400;
    line-height: 16.8px;
    font-size: 14px;
}
.fonts_buttons_header_12 {
    font-family: 'lato regular', sans-serif;
    font-weight: 400;
    line-height: 14.4px;
    font-size: 12px;
}
.fonts_header_lato {
    font-family: 'lato light', sans-serif;
    font-weight: 300;
    line-height: 14.4px;
    font-size: 12px;
}
.fonts_subheader {
    font-family: 'Forum regular', sans-serif;
    font-weight: 400;
    line-height: 46.37px;
    font-size: 42px;
    color:#FFF;
}
.fonts_interier {
    font-family: 'Forum regular', sans-serif;
    font-weight: 400;
    line-height: 40px;
    font-size: 28px;
    color:#FFF;
}
.fonts_main_text_19 {
    font-family: 'lato light', sans-serif;
    font-weight: 300;
    line-height: 30px;
    font-size: 19px;
}
.fonts_text2Lato_22 {
    font-family: 'lato bold', sans-serif;
    font-weight: 700;
    line-height: 30px;
    font-size: 22px;
}
.fonts_text2Lato_12 {
    font-family: 'lato light', sans-serif;
    font-weight: 300;
    line-height: 20px;
    font-size: 12px;
}
.fonts_text1Lato_16 {
    font-family: 'lato light', sans-serif;
    font-weight: 300;
    line-height: 25px;
    font-size: 16px;
}

.fixed_icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    img {
        width: 53px;
        height: 53px;
        &:nth-child(2) {
            margin-top: 10px;
        }
        &:hover {
            cursor: pointer
        }
    }
}

* a {
    @extend .fonts_text1Lato_16;
}

.contact_block button {
    @extend .fonts_text1Lato_16;
}

* h4 {
    @extend .fonts_subheader;
}

* h1 {
    @extend .fonts_h1;
}

* h2 {
    @extend .fonts_h2;
    text-align: center;
}

.component16 {
    width: 390px;
    padding: 22px 76px;
    color:black;
    opacity: 0.9;
    background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
    @extend .fonts_buttons_lato_14;
    &:hover {
        background: linear-gradient(89.24deg, #CBA177 0%, #EFCDAC 100%);
        box-shadow: 0px 0px 15px 0px #FFFFFFB2;
        transition: 0.2s;
    }
}
.component14 {
    width: 390px;
    padding: 16px 76px;
    color:black;
    background: linear-gradient(89.34deg, #E0B88F -2.95%, #FFF3E7 107.46%);
    @extend .fonts_text1Lato_16;
    &:hover {
        background: linear-gradient(89.24deg, #CA9F75 0%, #F1D1B0 100%);
        box-shadow: 0px 0px 15px 0px #FFFFFFB2;
        transition: 0.2s;
    }
}
.component17 {
    width: 390px;
    padding: 16px 76px;
    color:black;
    background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
    @extend .fonts_text1Lato_16;
    &:hover {
        background: linear-gradient(89.24deg, #CA9F75 0%, #F1D1B0 100%);
        box-shadow: 0px 0px 15px 0px #FFFFFFB2;
        transition: 0.2s;
    }
}
.component18 {
    width: 390px;
    padding: 16px 76px;
    color:black;
    background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
    @extend .fonts_text1Lato_16;
    &:hover {
        background: linear-gradient(89.24deg, #CBA177 0%, #EFCDAC 100%);
        box-shadow: 0px 0px 15px 0px #FFFFFFB2;
        transition: 0.2s;
    }
}
.component19 {
    width: 390px;
    padding: 16px 76px;
    color:black;
    background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
    @extend .fonts_text1Lato_16;
    &:hover {
        background: linear-gradient(89.24deg, #CA9F75 0%, #F1D1B0 100%);
        box-shadow: 0px 0px 15px 0px #FFFFFFB2;
        transition: 0.2s;
    }
}
.component20 {
    width: 390px;
    padding: 16px 76px;
    color:black;
    background: linear-gradient(88.84deg, #E1BC94 0%, #FEEFE0 100%);
    @extend .fonts_text1Lato_16;
    &:hover {
        background: linear-gradient(88.84deg, #CBA177 0%, #F2D1B0 100%);
        box-shadow: 0px 0px 10px 0px #EAD5C140;
        transition: 0.2s;
    }
    a {
        color: $color_black;
    }
}
.component21 {
    width: 390px;
    padding: 16px 76px;
    color:black;
    background: linear-gradient(89.34deg, rgba(224, 184, 143, 0.7) -2.95%, rgba(255, 243, 231, 0.7) 107.46%);
    @extend .fonts_text1Lato_16;
    &:hover {
        background: linear-gradient(89.24deg, #CBA177 0%, #EFCDAC 100%);
        box-shadow: 0px 0px 15px 0px #FFFFFFB2;
        transition: 0.2s;
    }
}
.component22 {
    width: 390px;
    padding: 16px 76px;
    color:black;
    background: linear-gradient(89.34deg, #E0B88F -2.95%, #FFF3E7 107.46%);
    @extend .fonts_text1Lato_16;
    &:hover {
        background: linear-gradient(89.24deg, #CA9F75 0%, #F1D1B0 100%);
        box-shadow: 0px 0px 10px 0px #EAD5C1;
        transition: 0.2s;
    }
}

.subhead {
    color: #DAC891;
    @extend .fonts_subheader;
}
.lato_light_18 {
    color: #FFFFFF;
    @extend .fonts_main_text_19
}

header {
    width: 100%;
    nav {
        width: 100%;
        padding: 20px 38px;
        padding-top: 22px;
        display: flex;
        justify-content: flex-end;
        background-color: $color_white;
        .navigation {
            width: 75%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                text-decoration: none;
                color: $color_black;
            }
        }
    }

    .main_header {
        width: 100%;
        height: 100%;
        background-image: url('../images/background/back_logo.png');
        background-repeat: no-repeat;
        background-size: cover;

        .main_header_block {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                padding-bottom: 50px;
                padding-top: 370px;
            }
            h1 {
                padding-bottom: 18px;
                opacity: 0.9;
            }
            h2 {
                padding-bottom: 46px;
                opacity: 0.9;
            }
            div {
                padding-bottom: 103px;  
            }
        }
    }
}

main {
    .portfolio {
        position: relative;
        background: linear-gradient(166.74deg, #010805 0%, #102F24 45.8%, #010805 73.35%);
        display: flex;

        flex-direction: column;
        align-items: center;
        .backImg {
            position: absolute;
            z-index: 10;
            width: 100%;
        }

        .portfolio_img {
            width: 100%;
            display: flex;
            flex-direction: column;
            .portfolio_img_flex {
                display: flex;
                justify-content: space-between;
                .portfolio_img_flex2 {
                    height: 80%;
                }
                &:nth-child(2) {
                    margin-top:39px;
                }
            }
        }
        
        .head_portfolio {
            width: 70%;
            text-align: center;
            h4 {
                padding-bottom: 30px;
                padding-top: 60px;
            }
            p {
                padding-bottom: 45px;
                opacity: 0.8;
            }
        }

        .portfolio_img {
            z-index: 998;
            padding-bottom: 45px;
        }

        .portfolio_button {
            z-index: 999;
            button:nth-child(2) {
                margin-left: 20px;
            }
        }
    }

    .slide_o_nas {
        width: 100%;
        .slide_o_nas_block {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 998;
            
            .back_slide_o_nas {
                position: absolute;
                height: 55%;
                width: 100%;
                top: 45%;
                background-image: url('../images/background/back_calc.svg');
                background-repeat:no-repeat;
                background-size: cover;
            }
            .head_o_nas {
                width: 70%;
                text-align: center;
                h4 {
                    padding-bottom: 30px;
                    padding-top: 60px;
                }
                p {
                    padding-bottom: 45px;
                    opacity: 0.8;
                }
            }
            .slider_block {
                z-index: 998;
                .slider {
                    display: flex;
                    align-items: center;
                    .arrow_left {
                        width: 62px;
                        height: 62px;
                        padding: 13px;
                        left: 25%;
                        z-index: 998;
                        background: white;
                        border-radius: 50%;
                        padding-right: 17px;
                        margin-right: 25px;
                        &:hover {
                            background: #CCA278;
                            box-shadow: 0px 0px 10px 0px #FFFFFF99;
                            transition: 0.2s;
                        }
                    }
                    .arrow_right {
                        transform: rotate(180deg);
                        width: 62px;
                        height: 62px;
                        padding: 13px;
                        right: 25%;
                        z-index: 998;
                        background: white;
                        border-radius: 50%;
                        padding-right: 17px;
                        margin-left: 25px;
                        &:hover {
                            background: #CCA278;
                            box-shadow: 0px 0px 10px 0px #FFFFFF99;
                            transition: 0.2s;
                        }
                    }
                }
            }
            .calc_block {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 77px;
                z-index: 998;
                
                .head_calc_block {
                    width: 70%;
                    text-align: center;
                    h4 {
                        padding-bottom: 30px;
                        padding-top: 60px;
                    }
                    p {
                        padding-bottom: 45px;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .recall {
        background-image: url('../images/background/back_recall.svg');
        background-repeat:no-repeat;
        background-size: cover;
        // z-index:999;
        * p {
            @extend .fonts_text2Lato_12;
        }
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items:center;
        .head_recall {
            width: 70%;
            text-align: center;
            padding-bottom: 30px;
            h4 {
                padding-bottom: 30px;
                padding-top: 60px;
            }
            p {
                padding-bottom: 45px;
                opacity: 0.8;
                color: black;
            }
        }

        .photo_people_recall {
            display: flex;
            justify-content: space-between;
            gap: 46px;
            .slider_recall {
                &:nth-child(2) {
                    margin-top: -70px;
                    padding-bottom: 0;  
                    text-align: center;
                    p {
                        color: $color_black;
                        padding: 30px;
                        padding-bottom: 5px;
                    }
                    div {
                        margin-top: 20px;
                    } 
                }
                
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-shadow: 0px 0px 15px 0px #00000033;
                    margin-top: 150px;
                    padding: 20px;
                    text-align: center;
                    gap: 30px;
                    h4 {
                        color: $color_black;
                        @extend .fonts_text2Lato_22 
                    }
                }
                
            }

            
        }

        .arrow_slider_recall {
            display: flex;
            padding: 30px;
            padding-bottom: 0;
            .dot {
                padding: 10px;
                &:hover {
                    background: #EDE3C8CC;
                    border-radius: 50%;
                    opacity: 0.6;
                }
            }
            .arrow_right {
                transform: rotate(180deg);
                padding-right: 15px;
                &:hover {
                    cursor: pointer;
                }
            }
            .arrow_left {
                padding-right: 15px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
            
    }

    .eskiz3D {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items:center;
        .head_eskiz3D {
            width: 70%;
            text-align: center;
            padding-bottom: 30px;
            h4 {
                padding-bottom: 30px;
                padding-top: 60px;
            }
            p {
                padding-bottom: 45px;
                opacity: 0.8;
                color: black;
            }
        }

        .img_slider {
            display: flex;
            gap: 20px;
        }
        .eskiz3D_arrow {
            display: flex;
            justify-content: center;
            padding: 30px;
            padding-bottom: 0;
            .dot {
                padding: 10px;
                &:hover {
                    background: #EDE3C8CC;
                    border-radius: 50%;
                    opacity: 0.6;
                }
            }
            .arrow_right {
                transform: rotate(180deg);
                padding-right: 15px;
                &:hover {
                    cursor: pointer;
                }
            }
            .arrow_left {
                padding-right: 15px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .calculate_cost_window {
        
        width: 70%;
        margin: 0 auto;
        margin-top:30px;
        display: flex;
        flex-direction: column;
        align-items:center;
        
        .calculate_cost_window_shadow {
            width: 100%;
            box-shadow: 0px 0px 15px 0px #00000033;
            display: flex;
            flex-direction: column;
            align-items:center;
            gap: 30px;
            padding: 30px;
            background-image: url('../images/background/back_calc22.svg');
            background-color:$color_white;
            background-repeat:no-repeat;
            background-size: cover;

            .class_tkan, .type_curtain, .length_karniz, .length_window {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                .class_tkan_block {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    button {
                        @extend .fonts_main_text_19;
                        background: none;
                        &:hover {
                            color:#BBA76A;
                        }          
                    }
                }

            .ul {
                display: inline-block;
                @extend .fonts_main_text_19;
                color: #979797;
            
                li {
                    list-style: inside;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                align-items:center; 
            }
            h4 {
                color: $color_black;
                border: 1px solid #DAC891;
                background-color:$color_white;
                border-radius: 50%;
                padding: 12px 25px;
            }
            span {
                @extend .fonts_main_text_19;
                font-weight: 400;
            }

            }

            .length_window {
                .znchenie {
                    @extend .fonts_main_text_19;
                    color: #979797;
                    border-bottom: 1px solid #979797;
                    padding-bottom: 2px;
                }
            }

            .length_karniz {
                .ruler {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    border-bottom: 1px solid #BBA76A;
                    span {
                        color: #979797;
                        &:hover {
                            cursor: pointer;
                            color: $color_black;
                        }
                        
                    }
                }
            }

            .calculate_button {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 20px;
            }
    }
    }

    .interier {
        width: 100%;
        background: linear-gradient(167.26deg, #050B0B 0%, #0F2D23 50.26%, #050B0B 100%);
        margin-top: 56px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .interier_block {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 30px;
            h4 {
                padding: 64px;
                padding-bottom: 0;
            }
            p {
                opacity: 0.8;
            }
        }

        .stages_work {
            width: 100%;
            margin-top: 60px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                @extend .fonts_interier;
                opacity: 0.8;
            }
            p {
                opacity: 0.6;
            }
            .stages_work_img_flex {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                .img {
                    display: flex;
                    justify-content: flex-start;
                }
                img {
                    border-bottom: 1px solid #FFE4B5;
                }
                .stages_work_img_left, .stages_work_img_right {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 50%;
                    gap: 30px;
                }
                .stages_work_img_block_text {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-self: center;
                    margin-top: 30px;
                }
                .stages_work_img_right {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                }
                .stages_work_img_right_block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .stock {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;
                padding-bottom: 90px;
                h4 {
                    padding-top: 60px;
                    padding-bottom: 30px;
                }
            }
        }
    }

    .project_season {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 53px;
        gap: 45px;
        background-image: url('../images/background/back_project_season.svg');
        background-repeat:no-repeat;
        background-size: cover;
        p {
            color: $color_black;
            opacity: 0.8;
        }
        .project_season_block {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 70%;
            h4 {
                padding-bottom: 30px;
            }
        }

        .project_season_img {
            display: flex;
            flex-direction: row;
            gap: 36px;
        }

        .form {
            width: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .form_block {
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;

                .form_block_head {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    gap: 30px;
                    p {
                        color: $color_black;
                        opacity: 0.8;
                    }
                }

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        span {
                            padding-top: 30px;
                            @extend .fonts_main_text_19;
                            font-weight: 400;
                        }
                        #firstElem {
                            padding-top: 0;
                        }
                        input {
                            width: 390px;
                            height: 63px;
                            background:$color_white;
                            border: 1px solid $color_black;
                            margin-top: 15px;
                            &::placeholder {
                                @extend .fonts_main_text_19;
                                font-weight: 400;
                                opacity: 0.8;
                                padding-left: 16px;
                            }
                        }

                        
                    }
                    button {
                        margin-top: 45px;  
                    }
                }
            }
        }

        .partners {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
                padding-bottom: 27px;
            }
            .partners_img_blocks {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                div {
                    display: flex;
                    gap: 30px;
                    padding-bottom: 52px;
                }
                .partners_img_blocks_partnersImg {
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .partners_img_blocks_partnersImg_flex {
                        width: 200px;
                        height: 120px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

        }
    }
}

footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(167.26deg, #050B0B 0%, #0F2D23 50.26%, #050B0B 100%);
    z-index: 997;
    .backFoot {
        position: absolute;
        background-image: url('../images/background/back_footer.svg');
        background-repeat:no-repeat;
        background-size: cover;
        z-index: 998;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .footer_wrapper {
        width: 70%;
        padding-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;
        .subhead {
            padding-bottom: 45px;
        }
        .footer_map {
            padding-bottom: 20px;
        }

        .footer_contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .footer_contact_text {
                p {
                    opacity: 1;
                    span {
                        opacity: 0.8;
                        a {
                            text-decoration: none;
                            color: $color_white;
                            
                        }
                        // #vk:hover {
                        //     cursor: pointer;
                        // }
                    }
                }
            }
        }
        .footer_icons {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            gap: 10px;
            &:hover {
                cursor: pointer;
            }
        }

        .footer_menu {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 60px;
            .footer_menu_leftBlock, .footer_menu_rightBlock {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                span {
                    @extend .fonts_main_text_19;
                    opacity: 0.8;
                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// @extend .tplborder; ПРИМЕР
